/* Tournament Styles */

.tournament {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.round {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 50px;
}

.round h1 {
   font-size: 32px;
   font-weight: bold;
   margin-bottom: 20px;
}

.match {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}

.match:hover {
   cursor: pointer;
}

.match .player {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 45%;
   height: 100%;
   font-size: 24px;
   font-weight: bold;
   text-transform: uppercase;
}

.match .player:nth-child(odd) {
   background-color: #f7f7f7;
}

.match .player:nth-child(even) {
   background-color: #e9e9e9;
}
